.contact {
  color: $blueDuck;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  align-items: center;
  justify-items: center;
  margin-bottom: 2em;

  &__title {
    @include sectionTitle;
    color: $blueDuck;
  }

  &__social {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

    a {
      color: $blueDuck;
    }

    .mail {
      text-decoration: underline;
    }

    .mail:hover {
      color: $yellowMustard;
    }
  }

  &__logos {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;

    img {
      width: 2.7em;
      margin-right: 2em;
    }
  }
}

// Media queries
@media screen and (max-width: 700px) {
  .contact {
    display: flex;
    flex-direction: column;

    &__title {
      @include sectionTitleMobile;
      color: $blueDuck;
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &__social {
      text-align: center;
      font-size: 1em;
      font-weight: bold;
    }

    &__logos {
      margin-top: 2em;
      font-size: 0.8em;

      img {
        width: 2em;
        margin-right: 1em;
        margin-left: 1em;
      }
    }
  }
}
