.contact {
  color: $blueDuck;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  align-items: center;
  justify-items: center;
  margin-bottom: 2em;

  &__title {
    @include sectionTitle;
    color: $blueDuck;
  }

  &__social {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

    a {
      color: $blueDuck;
    }

    .mail {
      text-decoration: underline;
    }

    .mail:hover {
      color: $yellowMustard;
    }
  }

  &__logos {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;

    img {
      width: 2.7em;
      margin-right: 2em;
    }
  }
}
